.hero__content h2 {
    font-weight: 600;
    line-height: 55px;
  }
  
  .hero__content {
    padding-top: 80px;
    width: 400px;
  }
  .search input {
    border: none;
    outline: none;
    padding: 7px 10%;
  }
  
  .search {
    width: 60%;
    border: 1px solid #17bf9d44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    margin-top: 20px;
  }
  .counter {
    font-size: 2rem;
    font-weight: 600;
    color: #0a2b1e;
  }
  
  .counter__title {
    font-size: 1rem;
    color: #0a2b1e;
    font-weight: 500;
  }
  
  .about__content {
    padding-left: 50px;
  }
  
  .about__img img {
    border-radius: 15px;
  }
  
  .about__content h2 {
    font-weight: 600;
  }
  .single__course__item {
    padding: 15px;
  }
  
  .course__img img {
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .enroll a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    color:    #003b49;
    ;
  }
  
  .lesson,
  .students,
  .rating {
    font-size: 0.9rem;
    color: #0a2b1e;
    font-weight: 500;
  }
  
  .lesson i,
  .students i,
  .rating i {
    font-weight: 400;
  }
  
  .course__title {
    line-height: 2rem;
  }
  
  .course__top__left h2 {
    font-weight: 600;
  }
  .single__feature h2 i {
    font-size: 2.5rem;
  }
  
  .single__feature h6 {
    font-weight: 600;
  }
  
  .free__course__img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  
  .free__btn {
    position: absolute;
    bottom: -20px;
    right: 20px;
    z-index: 999999;
    padding: 4px 25px !important;
    font-size: 0.8rem;
  }
  
  .free__course__img img {
    border-radius: 10px;
  }
  
  .free__course__details h6 {
    font-weight: 600;
    line-height: 2rem;
  }
  .testimonial__content h2 {
    font-weight: 600;
  }

  .newsletter {
    background:  #003b49;
    ;
  
    padding: 60px;
    border-radius: 15px;
  }
  
  .newsletter h2 {
    color: #fff;
  }
  .subscribe input {
    border: none;
    outline: none;
  }
  
  .subscribe {
    padding: 7px 10px;
    background: #fff;
    width: 45%;
    margin: auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer {
    background: #54808bd9;
    ;
  }
  
  .follows span a {
    text-decoration: none;
  }
  
  .follows span {
    margin-right: 15px;
  }
  
  .link__list .link__item {
    background: transparent;
  }
  
  .link__list a {
    text-decoration: none;
    color: #0a2b1e;
    font-weight: 500;
  }
  
  